.header{
    padding: 0px;
    display: flex;
    /* height: 10vh; */
    justify-content: space-between;
    gap:5em;
    justify-content: flex-start;
    width: 100%;
    border-bottom: 1px solid orange;
}
.header-left{
    display: flex;
    list-style: none;
    gap: 2em;
    float: left;
}
.logo{
    height: 100%;
    position:relative;
}
.header-left{
    height: 100%;
    justify-content: flex-end;
}
@media (max-width: 750px){
    .header{
        flex-direction: column;
        height: 15vh;
    }
}